.alert {
  position: fixed;
  bottom: 16px;
  right: 16px;
  z-index: 1000;
}

.alert-info {
  background-color: $white;
  font-family: $raleway;
  color: black;
  border-radius: 8px;
  border-color: $white;
}
