// Import your components CSS files here.
@import "card";
@import "button";
@import "alert";


body {
  background-color: $background;
}

h2 {
  font-size: 1rem;
  font-family: $montserrat;
}

h1 {
  font-size: 2rem;
  font-family: $montserrat;
}

label.text.required {
  text-align: center;
}

.form-group {
    margin-bottom: 1rem;
    width: 500px;
}

mark {
  background-color: $background;
}
